* { box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-variant: small-caps;
  background-color: rgba(0, 0, 0, .05);
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  margin-top: 32px;
  font-size: 32px;
}

.input-area { padding: 4px; }

input {
  width: 50%;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 8px;
  outline: none;
}

input::placeholder {
  color: #000;
  font-style: italic;
  font-size: 14px;
}

input:focus { box-shadow: 0 0 2px #454545; }
input:focus::placeholder { color: rgba(0, 0, 0, .7); }

.helper-text {
  display: block;
  padding-top: 4px;
  color: #f00;
  opacity: 0;
  font-size: 14px;
  transform: translateY(-7px);
}

#search-result {
  position: relative;
  display: none;
  width: 70%;
  margin: 0 auto;
  margin-top: 12px;
  padding: 24px;
  background-image: linear-gradient(to bottom right, #c5e2f7, #395877);
  border: 1px solid #000;
  border-radius: 10px;
  line-height: 3;
  text-transform: capitalize;
}

#search-result>span {
  padding-left: 24px;
  color: rgba(0, 0, 0, .7);
  font-size: 14px;
  vertical-align: baseline;
}

#search-result>img {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #454545;
  border-radius: 50px;
  vertical-align: bottom;
}

@media only screen and (max-width: 768px) {
  .wrapper { width: 90%; }
  input { width: 100%; }
  #search-result { width: 100%; }

  #search-result>span { 
    display: block;
    padding-left: 0;
  }
}